body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    margin: 0;
    padding: 0;
}

.grid{
    display: grid;
    grid-template-columns: 200px 250px 250px ;
    grid-auto-rows: 200px;
    grid-gap: 30px;
    justify-content: center;
    height: 100vh;
}

#edit{
    width: 200px;
    height: 200px;
}